<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="mybatis/driver.properties"/>
	
 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 		<setting name="mapUnderscoreToCamelCase" value="true"/>
 	</settings>
 	
 	<typeAliases>
 		<typeAlias type="shop.mall.model.dto.MemberInfoDto" alias="MemberInfoDto"/>
 	</typeAliases>
 	
 	<environments default="development1">
 		<environment id="development1">
 			<transactionManager type="JDBC"></transactionManager>
 			<dataSource type="POOLED">
 				<property name="driver" value="${jdbc.driver}"/>
 				<property name="url" value="${jdbc.localhost.url}"/>
 				<property name="username" value="${jdbc.localhost.username}"/>
 				<property name="password" value="${jdbc.localhost.userpassword}"/>
 			</dataSource>
 		</environment>
 		 		<environment id="development2">
 			<transactionManager type="JDBC"></transactionManager>
 			<dataSource type="POOLED">
 				<property name="driver" value="${jdbc.driver}"/>
 				<property name="url" value="${jdbc.db.url}"/>
 				<property name="username" value="${jdbc.db.username}"/>
 				<property name="password" value="${jdbc.db.userpassword}"/>
 			</dataSource>
 		</environment>
 	</environments>
 	
 	<mappers>
 		<mapper resource="mybatis/mappers/member-mapper.xml"/>
 	</mappers>
 	
 </configuration>