<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="memberLoginName" parameterType="MemberLoginDto" resultType="string">
	SELECT MEM_NAME FROM MEMBER WHERE MEM_ID=#{memId} and MEM_PW=#{memPw}
	</select>
	
	<select id="memberLoginAuth" parameterType="MemberLoginDto" resultType="string">
	SELECT MEM_AUTH FROM MEMBER WHERE MEM_ID=#{memId} and MEM_PW=#{memPw}
	</select>
	
	<insert id="registMember" parameterType="MemberDto">
		INSERT INTO MEMBER VALUES(#{memId},#{memPw},DEFAULT,#{memName},#{memPost},#{memAddr},#{memPhone},#{memEmail},#{memGender},#{memAcct},#{memBank})
	</insert>

	<select id="idDuplicateCheck" parameterType="string" resultType="int">
		SELECT COUNT(*) C FROM MEMBER WHERE MEM_ID=#{memId}
	</select>
	

	
	<select id="getLogId" parameterType="string" resultType="int">
		SELECT SEQ_LOG_ID.NEXTVAL LOG_ID FROM DUAL;
	</select>
	
		<select id="getLogTime" parameterType="string" resultType="int">
		SELECT SEQ_LOG_ID.NEXTVAL LOG_ID FROM DUAL;
	</select>
	
</mapper>