<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manage">

	<select id="getMenuCategory" resultType="string">
		SELECT CATEGORY FROM ITEM_CATEGORY
	</select>
	
	<select id="checkLog" parameterType="string" resultType='integer'>
		SELECT EXTRACT(DAY FROM (SYSTIMESTAMP-MAX(TIME))) T FROM LOG WHERE HOST_IP=#{IP}
	</select>
	
	<insert id="writeLog" parameterType="string">
		INSERT INTO LOG VALUES (SEQ_LOG_ID.NEXTVAL,NULL,#{IP},DEFAULT)
	</insert>
	
		<insert id="loginLog" parameterType="MemberInfoDto">
		INSERT INTO LOG VALUES (SEQ_LOG_ID.NEXTVAL,#{memId},#{ip},DEFAULT)
	</insert>
	
	<select id="loginLogTime" parameterType="string" resultType='string'>
		SELECT TO_CHAR(MAX(TIME),'YYYY-MM-DD HH24:MI:SS') T FROM LOG WHERE HOST_IP=#{IP}
	</select>
	
</mapper>