@charset "UTF-8";
* {
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}

.body__wrapper{
	padding-left: 300px;
	background: purple;
	width: 100%;
	height: 5000px;
}

.sidemenu__wrapper {
	position: relative;
}

.footer__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index:1;
	overflow: hidden;
}