@charset "UTF-8";

.slider__wrapper{
	display: flex;
	flex-direction: column;
}

.slider__inner{
	position:relative;
}

.main__slider {
	overflow: hidden;
}

.main__slider .slick-slide{
	float:left;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main__slider img{
	max-width: 1000px;
	height: auto;
}

.main__slider .slick-prev{
	display : block;
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 1010;
}

.main__slider .slick-next{
	display : block;
	position: absolute;
	top: 50%;
	right: 10%;
	z-index: 1010;
}

.main__slider .slick-dots {
	position: absolute;
	bottom: 10%;
	left: 50%;
	z-index: 1010;
	transform: translateX(-50%);
}

.main__slider .slick-dots li {
	display: inline;
	padding: 10px;
}

.slider__menu {
	margin-top: 1%;
}

.slider__menu > ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slider__menu > ul li{
	list-style-type: none;
	width: 24.25%;
}

.slider__menu > ul img{
	max-width: 100%;	
	height: auto;
}

.grid__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.grid__box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:10px;
}

.grid__box .item__box{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid__box .image__box{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid__box img{
	max-width: 100%;
	height: auto;
}

.grid__box .desc__box{
	display: flex;
	flex-direction: column;
}

.item__color span{
	display : inline-block;
	width: 8px;
	height: 8px;
	margin-right: 2px;
}

.slick-prev{
	background: url(../images/angle-left-solid.svg) no-repeat;
	filter: invert(41%) sepia(12%) saturate(10%) hue-rotate(0deg) brightness(93%) contrast(87%);
	border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    text-indent:-10000px;
    width: 20px;
    height: 20px;
}

.slick-next{
	background: url(../images/angle-right-solid.svg) no-repeat;
	filter: invert(41%) sepia(12%) saturate(10%) hue-rotate(0deg) brightness(93%) contrast(87%);
	border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    text-indent:-10000px;
    width: 20px;
    height: 20px;
} 

.slick-dots li button {
    font-size: 14px;
    color: grey;
    background: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 10px;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}