@charset "UTF-8";
.mypage__wrapper{
	display:flex;
	flex-direction: column;
	padding:0 50px;
	color: black;
	min-height: 300px;
}

.mypage__title{
	text-align: center;
}

.mileage__status{
	border:1px solid black;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 50px 0;
}

.order__status{
	border:1px solid black;
}

.order__title{
	text-align: center;
}

.order__status__inner{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.mypage__menu.grid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	gap:30px;
	margin:50px 0 ;
}

.mypage__menu.grid div{
	border : 1px solid black;
	display:flex;
	flex-direction: column;
	text-align: center;
}
.mypage__menu.grid div *{
	display:block;
}