@charset "UTF-8";

.mypage__wrapper{
	display:flex;
	flex-direction: column;
}

.mypage__wrapper .header{
	text-align: center;
	
}

table {
	border-spacing: 0;
	text-align: center;
}

th {
	background: #fbfafa;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

th:nth-child(1){
	width: 150px;
}

th:nth-child(2){
	width: 150px;
}

th:nth-child(3){
	width: 100px;
}

th:nth-child(4){
	width: 200px;
}

tr{
	padding: 25px 0;
}

tr td:first-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

td {
	border-bottom: 1px solid #ebebeb;
	height: 70px;
}

td:last-child {
	border-right: none;
}

.btn__wrapper{
	margin-top : 30px;
}

.notice__wrapper div{
	margin-top : 30px;
	background: #fbfafa;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}

