@charset "UTF-8";
.sidemenu {
	position: fixed;
	float:left;
	padding: 50px;
	background: #dedee0;
	height:100%;
	width: 300px;
	display: flex;
	flex-direction: column;
	z-index:2000;
}

.sidemenu__logo{
	display:block;
	height:200px;
	width:200px;
	background:url(../images/logo.png) no-repeat;
	background-size: contain;
}

.sidemenu__topmenu {
	margin-top: 10px;
}

.sidemenu__topmenu a{
	margin-right: 10px;
}

.sidemenu__searchbox{
	margin-top: 10px;
}

.sidemenu__midmenu{
	margin-top: 10px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidemenu__category{
	display:flex;
	flex-direction: column;
}

.sidemenu__category li{
	padding:5px;
}

.sidemenu__board{
	display:flex;
	flex-direction: column;
}

.sidemenu__board > * {
	padding: 5px;
}

.sidemenu__info{
	margin-top:10px;
}

p, .sidemenu__topmenu a, .sidemenu__midmenu a {
	font-size: 10px;
	color: #737373;
}

.sidemenu__info h3 {
	font-size: 14px;
}

.sidemenu__info h4 {
	font-size: 10px;
}